/* Color Palette */
:root{
  --primary: #2b6777;
  --accent:  #52ab98;
  --soft:    #c8d8e4;
  --bg:      #f2f2f2;
  --white:   #ffffff;
  --text:    #0f2430;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* body adjustments */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../images/bg-sample1.jpg');
    background-size: cover;
    background-position: center;
}
/* form container adjustments */
.form-container {
    width: 420px;
    background: transparent;
    border: 2px solid #52ab98;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
}

/* h2 adjustments */
.form-container h2{
    font-size: 36px;
    text-align: center;
}
/* input box adjustments */
.form-container .registerinputbox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
/* inputs of input box adjustments */
.registerinputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}
/* it's the color of textbox on input */
.registerinputbox input::placeholder {
    color: #ffffff;
}

.form-container .Regbutton {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: var(--primary);
    font-weight: 600;
}
.form-container .accAlready {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.accAlready a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.accAlready a:hover {
    text-decoration: underline;
}