/* Color Palette */
:root{
  --primary: #2b6777;
  --accent:  #52ab98;
  --soft:    #c8d8e4;
  --bg:      #f2f2f2;
  --white:   #ffffff;
  --text:    #0f2430;
}
body{
	font-family: Arial, san-serif;
	margin: 0;
	padding: 20px;
	background-color: #f2f2f2;
	color: #2b6777;
	}
.form-container{
	max-width: 800px;
	margin: auto;
	background: #456882;
	padding: 20px 40px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
h2{
	color: #0f2430;
	border-bottom: 2px solid #eee;
	padding-bottom: 10px;
}